.searchResults {
    border: 1px solid pink;
}
.placeTitle {
    font-size: 1.8rem;
}

.placeDetail {
    gap: 5px;
}
.addFromMapsForm {
    display: flex;
flex-direction: column;
gap: .5rem;
}

.nameLabel {
    font-weight: 500;
}

.nameInput {
    border: 1px solid pink;
    border-radius: .5em;;
}

.subBtn {
    text-align: left;
}

.mapResults {
    margin: 1rem;
}

.category {
    margin: .25rem;
}

.googlePlaceSearch {
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    justify-content: center;
    align-items: center;
}

.googleSearchInfo{
    font-size: 1.15rem;
    line-height: 40px;
}