.placeList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    font-size: 3rem;
    padding: .5em;
    margin: .5em;
    border: 8px solid orange;
    text-align: center;
    border-radius: 8px;
}

.placesTGTwo {
    color: #5b6efd;
    font-size: 2.5rem;
    /* text-decoration: underline; */
    margin-top: -1em;
    margin-bottom: -.5em
} 
.place {
    border: 7px solid #0d2a55;
    border-radius: 5px;
    background-color: #0077b6;
    color: #caf0f8;
    margin: 1em;
    padding: 2em;
    width: 32.25%;
    height:fit-content;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: .5px;
}

.placeName {
    font-size: 1.25em;
    color: #0077b6;
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
    padding-left: 1em;
}

.address {
    /* border: 3px solid #00b2ca; */
    padding: 1rem;
    color: white;
    background-color: #4094c2;
    border-radius: 6px;
    /* font-size: 1.25em; */
    height: fit-content;
    line-height: 20px;

}

.placeInfo {
    margin: 1em;
}

.tagsLabel {
    letter-spacing: .25px;
    color: #f4deb3;
}
.tags {
    display: flex;
    gap: 5px;
}

.tag {
    padding: .05px;
    color: #f4deb3;
}

.favCount {
    display: flex;
    gap: 5px;
}

.favCounter{
    color: #eea56c;
    padding: .25em;
    font-size: 1.15rem;
}

.reviewText {
    color: white;
    font-size: 14px;

}

.heart {
    color: #f4deb3;
}

.placeButtons {
    display: flex;
    padding-top: 1em;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.addPlaceTitle {
    font-size: 3em;
    padding: .5em;
}

.addPlaceForm {
    display:  flex;
    flex-direction: column;
    align-items: flex-end;
}


label {
    padding: .5em;
    margin: 1em;
    height: 48px;
    border: 3px solid #0d2a55;
    background-color: #0d2a55;
    border-radius: 5px;
    letter-spacing: .5px;
    margin-left: auto;
    margin-right: 5px;
    margin-top: auto;
    color:white;
}


input {
    border: 2px solid #0d2a55;
    border-radius: 5px;
    width: 400px;
    height: 48px;
    margin-bottom: 10px;
}

button {
    /* padding: .75em; */
    border: 1.5px solid #0d2a55;
    border-radius: 10px;
    background-color: #caf0f8;
    color: #0d2a55;
    width: fit-content;
    padding: .5rem;
}


button:hover {
    background-color: white;
    color: #4094c2;
}


.deletePlaceBtn {
    color: #4094c2;
}


.italic {
    font-style: italic;
}

.postedBy {
    padding-left: 1.5em;
    font-size: .8rem;
}

.reviewDrop {
    background-color: #0077b6;
    width: 70px;
    height: 40px;
    border: 1px solid #4094c2;
    /* font-size: 1em; */
    color: rgb(236, 233, 233);

}


.reviewDrop:hover {
    background-color: #4094c2;
    color: white;

}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.updatePlaceForm {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
text-align: right;
}