.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(245, 242, 242, 0.834);
    z-index: 1;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: orange transparent orange transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.placeList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.placesTGTwo {
    color: #5b6efd;
    font-size: 2.5rem;
    /* text-decoration: underline; */
    margin-top: -1em;
    margin-bottom: -.5em
} 
.place {
    border: 5px solid #0d2a55;
    border-radius: 5px;
    background-color: #0077b6;
    color: #caf0f8;
    margin: 1em;
    width: 300px;
    /* min-height: 500px; */
    height:fit-content;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    letter-spacing: .5px;
    padding: .5rem;
}

.placeName {
    font-size: 1.05em;
    color: #276a8f;
    /* color:white; */
    border: 2px solid white;
    background-color: white;
    border-radius: 5px;
    font-weight: bold;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .25rem;
}

.address {
    padding: .25rem;
    /* width: 300px; */
    border: 1px solid #4094c2;
    color: white;
    background-color: #4094c2;
    border-radius: 5px;
    /* font-size: 1.25em; */
    height: 70px;
    line-height: 20px;
    display: flex;
    align-items: center;
}

.tagsFav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.tag {
    color: #f4deb3;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.favCounter{
    color: #f4deb3;
}
.reviewSection{
    width: 300px;
}
.reviewLabel {
    font-size: .9rem;
    
}

.reviewDrop {
    background-color: #0077b6;
    width: 300px;
    height: 40px;
    border: 1px solid #4094c2;

    /* font-size: 1em; */
    color: rgb(236, 233, 233);
    /* border: 1px solid orange; */
}


.reviewDrop:hover {
    background-color: #4094c2;
    color: white;

}


.reviewsBox{
    padding-left: 1rem;
    margin-top: -1rem;
    border: 1px solid #4094c2;
    border-radius: 5px;
}

.reviewText {
    color: white;
    font-size: 14px;
}


.buttonSection{
    display:flex;
    justify-content: space-around;
    /* background-color: #4094c2; */
    margin-top: .5em;
    margin-bottom: .5em;
}

.addPlaceTitle {
    font-size: 3em;
    padding: .5em;
}

.addPlaceForm {
    display:  flex;
    flex-direction: column;
    align-items: flex-end;
}


label {
    padding: .5em;
    margin: 1em;
    height: 48px;
    border: 3px solid #0d2a55;
    background-color: #0d2a55;
    border-radius: 5px;
    letter-spacing: .5px;
    margin-left: auto;
    margin-right: 5px;
    margin-top: auto;
    color:white;
}


input {
    border: 2px solid #0d2a55;
    border-radius: 5px;
    width: 400px;
    height: 48px;
    margin-bottom: 10px;
}

button {
    /* padding: .75em; */
    border: 1.5px solid #4094c2;
    border-radius: 10px;
    background-color: #4094c2;
    color: #0d2a55;
    width: fit-content;
    padding: .5rem;
}

.accordIcon{
    font-size: 1.75em;
}


button:hover {
    background-color: white;
    color: #4094c2;
}


.deletePlaceBtn {
    color: #4094c2;
}


.italic {
    font-style: italic;
}

.postedBy {
    padding-left: 1.5em;
    font-size: .8rem;
}



.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.updatePlaceForm {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
text-align: right;
}