.click {
font-size: 2rem;
margin-top: 1em;
}


.credit {
font-size: 1rem;
margin-top: 5em;
}


.placesTG {
color: #5b6efd;
font-size: 2.5rem;
text-decoration: underline;
}

.bold {
font-weight: bold;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.siteName {
    font-size: 1.75rem;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    border: 8px solid orange;
    border-radius: 8px;
    padding: 2em;
    justify-content: center;
    align-items: center;
    width: 400px;
}