.navBar{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: flex-start;
    width: 100vw;
    text-decoration: none;
    /* border-bottom: 1px solid #da312a; */
    background-color: #f8758f;
    border-radius: .5px;
    padding: 5px;
}

.dmv {
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;



}
.navLinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    /* border-bottom: 1px solid #da312a; */
    background-color: #f8758f;
    border-radius: .5em;
}

.navLink {
    /* border: 1px solid #da312a; */
    /* background-color: #ffc864; */
    color: #fafafa;
    border-radius: 1.25em;
    padding: .55rem;
    margin: 3px;
    font-size: 1.25rem;

}

.dc {
    height: 40px;
    padding: 5px;
}

.md, .va {
    height: 40px;
    padding: 5px;

}