.navLinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* padding: .5rem; */
    /* gap:30px; */
    text-decoration: none;
    /* margin: 1em; */
    /* border-bottom: 1px solid #da312a; */

    background-color: #ecf8ed;
    border-radius: .5em;

}

.navLink {
    /* border: 1px solid #da312a; */
    /* background-color: #ffc864; */
    color: #191414;
    border-radius: 1.25em;
    padding: .55rem;
    margin: 3px;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #191414;
}