.navLinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    gap:30px;
    text-decoration: none;
    margin: 1em;
    border-bottom: 1px solid #0d2a55;

}

Link, a {
    text-decoration: none;
    color: #0d85fe;
}

a:hover {
    color: orange;
}