* {
  font-family: Helvetica;
}




.submitButton {
  width: 160px;
  color: white;
  background-color: #0d2a55;
  margin-left: 12em;
}


.addPlace {
  display:  flex;
  flex-direction: column;
  align-items: center;
}



.createAccount{
  margin: 1em;
  padding: 1em;
}


.createUser, .loginUser {
  padding: 1rem;
}

.loginUser {
  margin-top: 1rem;
}


