* {
  font-family: Helvetica;
}



label {
  padding: .5em;
  margin: 1em;
  width: 80px;
  border: 2px solid rgb(60, 126, 126);
  background-color: #005F60;
  border-radius: 1em;
  color: white;
}


input {
  border: 2px solid rgb(60, 126, 126);
  border-radius: 1em;
  width: 400px;
  height: 40px;
  color: white;
}

.addPlace {
  display:  flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}


.createAccount{
  margin: 1em;
  padding: 1em;
}


.createUser, .loginUser {
  padding: 1rem;
}

.loginUser {
  margin-top: 1rem;
}


.title {
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}